<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<meta http-equiv="refresh" content="3">
</HEAD>

<BODY>
<%= Time.now %>

aaa

aaa
<img src="/img/pic.png" alt="alternative">
</BODY>
</HTML>
